.flatshadow {
	text-align: center;
	font-family: 'open sans';
	position: relative;
	margin: 0 0 3em 0;
	padding: 0;
}
.flat-icon {
	width: 40px;
	padding: 23px 28px;
	font-size: 50px;
	font-weight: bold;
	display: inline-block;
	line-height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	margin-right: 15px;
	letter-spacing: 0;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-o-transition: all .5s linear;
	transition: all .5s linear;
}
