@charset "UTF-8";
/* Reset */
html .mceContentBody {
	max-width: 700px;
}


* {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", Hiragino Kaku Gothic Pro, "ＭＳ Ｐゴシック", Helvetica, Arial, Sans-serif;
	font-size: 13px;
	font-size-adjust: none;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.45;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
p,.p {
	margin-bottom: 1.5em;
	text-align: left;
}
img {
	border: none;
}
ul li {
	margin: 0;
}
ul, ol {
	margin: 0.5em 0 1.5em 1.5em;
	padding-left: 20px;
}

ol {
	list-style: decimal;
}
ol ol {
	list-style:lower-latin;
}
ol ol ol {
	list-style:lower-roman;
}
ol ol ol ol {
	list-style:lower-latin;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom:0;
}

dl	{
	margin:0 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.5em;
}

form {
	margin: 0;
	padding: 0;
}
small {
	font-size: 0.68em;
}
strong {
	font-weight: bold;
}
code, pre {
	font-family: "Courier New", Courier, Monaco, "Lucida Console", monospace;
	overflow: auto;
	background-color: #F7F7F7;
}
pre {
	padding: 1em;
	line-height: 1.5em;
	border: 1px solid #ddd;
	margin: 1.5em 0;
}
hr{
	border: 1px dotted #666;
	margin-bottom: 1.5em;
}
blockquote{
	background: url(images/editor-style/blockquote-l.png) no-repeat left top;
	padding: 10px 15px;
	margin: 0 3em 1em;
	font-size: 1em;
	text-indent: 2em;
}
blockquote > div {
	background: url(images/editor-style/blockquote-r.png) no-repeat right bottom;
	padding-bottom: 0.1em;
}
abbr, acronym { cursor: help; border-bottom: 1px dotted #888; }
/* Headers */
h1, h2, h3, h4, h5, h6 {
	color: #333;
	margin: 0.5em 0;
	padding: 0;
	line-height: 1.1em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #333;
}
h1, h2 {
	font-weight: normal;
	border-bottom: solid 2px #A7BDD8;
	padding: 0 0 4px 0;
}
h3, h4, h5, h6 {
	font-weight: bold;
}
h1 {
	font-size: 200%;
}
h2 {
	font-size: 183%;
}
h3 {
	font-size: 166%;
}
h4 {
	font-size: 150%;
	font-weight: bold;
}
h5 {
	font-size: 133%;
	font-weight: bold;
}
h6 {
	font-size: 116%;
	font-weight: bold;
}


table {
	width: 85%;
	border: 1px solid #ddd;
	*border-collapse: collapse;
	border-collapse: collapse;
	margin: 1em 0;
}
table thead,
table thead td,
table thead th,
table tbody th {
	text-align: center;
}
table tbody,
table tbody td {
	text-align: left;
}
table tfoot,
table tfoot td {
	text-align: left;
}
table tr, 
table th, 
table td {
	border: 1px solid #ddd;
	padding: 3px;
}
table thead td,
table thead th,
table tbody th {
	background: #f8f8ff;
}
table tfoot td {
	font-weight: bold;
}
table tbody td {
	vertical-align: top;
}

table.no-border {
	border: none;
}
table.no-border tr, 
table.no-border th, 
table.no-border td {
	border: none;
}


sup, sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
	font-size: 0.7em;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}

/* WordPress Standard Elements */
img#wpstats {
	width:0;
	height:0;
	overflow:hidden;
}

.border{
	padding: 2.5px;
	border: 1px solid #ccc;
}
.hidden {
	display: none;
	visibility: hidden;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
	margin:0 10px 5px 0;
}
.alignright {
	float: right;
	margin:0 0 5px 10px;
}

.floatleft{
	float:left;
	margin:3px 7px 0 0;
}
.floatright{
	float:right;
	margin:3px 0 0 7px;
}
.right{
	float:right;
}
.block{
	display:block;
}
.left{
	float:left;
}
.clear{
	clear:both;
}
.center {
	text-align: center;
}

/* alignments */
img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img[align="left"] {
	float:left;
	margin: 2px 10px 5px 0;
}

img[align="right"] {
	float:right;
	margin: 2px 0 5px 10px;
}

.clear {
	clear:both;
}

hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0;
	padding: 0;
}


.wp-caption {
	background: #F5F5F5;
	border: #DDD 1px solid;
	text-align: center;
	margin: 1em 0;
	padding: 10px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
.wp-caption img {
	max-width: 98% !important;
	margin: 0;
	padding: 0;
	border: 0 none;
	position: relative;
}

.wp-caption .wp-caption-text {
	font-size: 85%;
	text-align: center;
	padding: 10px 5px 5px 5px;
}

.wp-caption .aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.wp-caption .alignleft {
	float: left;
	margin-right: 10px;
}
.wp-caption .alignright {
	float: right;
	margin-left: 10px;
}

.wp-caption-dd {
	font-size: 90%;
}
